.formContact {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    color: var(--cor-quintenaria);
    background-color: rgba(0, 0, 255, 0.03);
    margin-left: 2rem;
    padding: 2rem;
    border-radius: 5px;
    text-shadow: 1.2px 1.2px 1.2px #000;

}


form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label {
    font-size: 1.2em;
    margin-bottom: 0.4rem;
}

input {
    padding: 6px;

}

input[type="submit"] {
    margin-top: 0.5rem;
    background-color: #007bff;
    color: var(--cor-quintenaria);
    cursor: pointer;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #000;
}

.formTitle {

    color: var(--cor-terciaria) !important;
    text-shadow: 1px 1px 1px #000;
}

@media (max-width: 900px) {

    .formContact {

        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2.5rem;
    }

    .formTitle {

        margin-right: 2rem;
    }

}

@media (max-width: 1200px) {

    .formContact {

        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
        margin-left: 0;
        margin-right: 0;
    }

    .formTitle {

        margin-right: 2rem;
    }

}

@media (max-width: 600px) {

    .formContact {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
    }

    .formTitle {

        margin-right: 2rem;
    }

}