html {
  scroll-behavior: smooth;
}

.formContact {
    max-width: 600px;
    margin: 5rem auto;
    padding: 20px;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid var(--cor-terciaria);
  }
  
  .formTitle {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .formContact svg {
    font-size: 2rem;
  
  }
  
  form {
    display: grid;
    gap: 20px;
    color: var(--cor-quintenaria);
  }
  
  label {
    font-size: 1rem;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cor-terciaria);
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: var(--cor-terciaria);
    color: white;
    cursor: pointer;
  }

  

  