
.resumeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.embedContainer img {
  margin-top: 2rem;
  width: 100%;
  max-width: 450px; 
  height: auto;
  border: 1px solid var(--cor-terciaria); 
  margin-right: 20px; 
}

.rightButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}

@media (max-width: 767px) {
  .embedContainer img {
    margin-top: 0;
  }

  .rightButtonContainer {
    margin-top: 1rem; 
  }
}