html {
  scroll-behavior: smooth;
}

.resumeContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  margin-left: 5rem;
}

.embedContainer {
  width: 35%;
  margin-bottom: 20px;
  justify-content: center;
}

.embedContainer img {
  width: 95%;
  height: auto;
  border: 2px solid var(--cor-terciaria);
  border-radius: 15px;
}

.rightButtonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  position: absolute;
  top: 5rem;
  left: 7.5rem;
}

.rightButtonContainer button {
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .rightButtonContainer {
    position: relative;
    top: auto;
    left: auto;
    margin-top: 10px;
    text-align: center;
  }

  .resumeContainer {
    margin-left: 1.5rem; 

  }

  .embedContainer {
    width: 100%;
  
  }
}


@media (max-width: 1024px) {
  .rightButtonContainer {
    position: relative;
    top: auto;
    left: auto;
    margin-top: 10px;
    text-align: center;
  }

  .resumeContainer {
    margin-left: 1.5rem; 

  }

  .embedContainer {
    width: 100%;
  
  }
}
