html {
  scroll-behavior: smooth;
}

.resumeContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.5rem;
  justify-content: center;
  margin-left: 5rem;
}

.embedContainer {
  width: 48%;
  margin-bottom: 20px;
  justify-content: center;
}

.embedContainer img {
  width: 90%;
  height: 625px;
  border: 1px solid var(--cor-terciaria);
}

.imageWithButtons {
  position: relative;
}

.rightButtonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1px; 
}


.rightButtonContainer button {
  margin-top: 10px;
  margin-bottom: 5px; 
}

@media (max-width: 767px) {
  .rightButtonContainer {
    margin-top: 10px;
    text-align: center;
  }

  .embedContainer {
    margin-top: 1.2rem;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .embedContainer {
    width: 100%;
  }
}

