.resumeContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 7.5rem;
  margin-top: 6rem;
  gap: 1rem;
  position: relative;
}

.rightButtonContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  gap: 0.2rem;
}

.resumeContainer img {

  border-radius: 5px;
}


@media (max-width: 900px) {
  .resumeContainer {
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-top: 2rem;
  }

  .resumeContainer img {
    width: 100%;
    height: auto;
   
  }

 

  
}

@media (max-width: 1200px) {
  .resumeContainer {
    grid-template-columns: 1fr;
    
    margin-top: 2.5rem;
  }

  .resumeContainer img {
    width: 100%;
    height: auto;
   
  }

 

  
}

