@keyframes colorChange {
  0% {
    color: rgb(255, 0, 0);
  }

  25% {
    color: rgb(255, 85, 0);
  }

  50% {
    color: rgb(255, 242, 0);
  }

  75% {
    color: rgb(0, 255, 76);
  }

  100% {
    color: var(--cor-terciaria);
  }
}

.icon {
  text-align: center;
  animation: colorChange 2.5s infinite;
}

.itensArea {
  padding: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border: solid var(--cor-terciaria);
}

.iconsArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  justify-content: center;
}

.title {
  text-align: center;
  margin-bottom: 2.5rem;
}

@media (max-width: 900px) {
  .iconsArea {
    grid-template-columns: repeat(4, 1fr);
  }

  .itensArea {
    padding: 1.5rem; 
  }
}

@media (max-width: 768px) {
  .iconsArea {
    grid-template-columns: repeat(4, 1fr);
  }

  .itensArea {
    padding: 1.5rem; 
  }
}

@media (max-width: 480px) {
  .iconsArea {
    grid-template-columns: repeat(4, 1fr);
  }

  .itensArea {
    padding: 1.5rem;
  }
}
